* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100dvh;
    background-image: url(../img/bgc-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    div {
        margin: 0 auto;
    }

    a {
        z-index: 2;
        color: #fff;
        font-size: 30px;
    }
}

header, footer {
    padding: 40px;
    background-image: url(https://shibuya-bay.vercel.app/bg-2.png);
    position: fixed;
    width: 100%;
    color: #E69AA4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}